*.pyc
*.pyo
.DS*
.pylint_rc
/.idea
/.project
/.pydevproject
/.settings
Thumbs.db
*~
.cache

.coverage
.tox/
test/userdata/addon_settings.json
test/userdata/credentials.json
test/userdata/temp
test/userdata/token.json
test/userdata/cache
test/userdata/addon_data
test/cdm
