*.pyc
*.pyo
.DS*
.pylint_rc
/.idea
/.project
/.pydevproject
/.settings
Thumbs.db
*~
.cache

.coverage
.tox/
tests/userdata/credentials.json
tests/userdata/temp
tests/userdata/token.json
tests/userdata/cache
tests/userdata/addon_data
tests/cdm
