pyjwt
polib
pylint
pytest
pytest-cov
pytest-timeout
python-dateutil
pysocks
requests
git+https://github.com/tamland/kodi-plugin-routing@master#egg=routing
mock
sakee
win-inet-pton; platform_system=="Windows"