<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
    <category label="Account">
        <setting id="email" type="text" label="E-mail" default=""/>
        <setting id="password" type="text" label="Password" default=""/>
        <setting subsetting="true" label="Check your credentials" type="action" option="close" action="RunPlugin(plugin://plugin.video.vtm.go/check-credentials)" enable="!eq(-2,) + !eq(-1,)"/>
    </category>
</settings>
